---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>
    <img src={`/imgs/social-media/${platform}.png`} alt={`Ãcono de ${platform}`}/>
</a>  

<style>
    img {
        width: 3.5rem;
        height: 3.5rem;
    }
</style>