---
import SocialMedia from "../SocialMedia/SocialMedia.astro";
import './Footer.css'
---

<footer>
    <h3>Turing IA</h3>
    <div class="footer-grid">
        <div class="services-links">
            <a href="./services"><h4>Nuestros servicios</h4></a>
            <div>
                <a href="./services">Business analytics</a>
                <a href="./services">Desarrollo de soluciones</a>
                <a href="./services">Tecnologías</a>
                <a href="./services">Cursos</a>
            </div>
        </div>
        <div class="about-links">
            <a href="./about"><h4>Sobre nosotros</h4></a>
            <div>
                <a href="./about">Metodologías</a>
                <a href="./about">Plataformas</a>
                <a href="./about">Estrategias</a>
                <a href="./about">Reconocimientos</a>
            </div>
        </div>
        <div class="blog-links">
            <a href="./blog"><h4>Blog Tags</h4></a>
            <div>
                <a href="./blog">Tableau</a>
                <a href="./blog">Excel</a>
                <a href="./blog">Data analytics</a>
                <a href="./blog">Business intelligence</a>
            </div>
        </div>
        <div class="contact-info">
            <p>Av. Insurgentes 601
                Col. Napoles, Benito Juarez
                Ciudad de México, México</p>
            <p>+52 (722) 936-96-65</p>
            <p>contacto@turing-ia.com</p>
        </div>
        <div class="social-media-1">
            <SocialMedia platform="linkedin" username="company/turing-inteligencia-artificial/" /> 
            <SocialMedia platform="instagram" username="iaturing" />
        </div>
        <div class="social-media-2">
            <SocialMedia platform="twitter" username="IaTuring" />
            <SocialMedia platform="facebook" username="profile.php?id=100072141934213" />
        </div>
    </div>
</footer>

